<div class="content-body">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-12">
				<div class="card">
					<div class="card-body py-2 d-flex justify-content-between align-items-center">
						<div>
							<h4 class="m-0">Danh sách khuyến mãi</h4>
							<!-- <span>Lorem ipsum sit amet</span> -->
						</div>
						<a href="/adminPromotion/createPromotion" class="btn btn-info light">+ Thêm khuyến mãi mới</a>
					</div>
				</div>
			</div>

			<!-- Promotion -->

			<div class="col-xl-4 col-xxl-4 col-md-6 col-sm-6">
				{{!-- <div class="card user-card">
					<div class="card-body pb-0">
						<div class="d-flex mb-3 align-items-center">
							<div class="dz-media">
								<img src="{{this.skus.0.img}}" alt="image_product">
							</div>
						</div>
						<h5 class="title"><a href="">{{this.name}}</a></h5>
						<ul class="list-group list-group-flush">
							<li class="list-group-item">
								<span class="mb-0 title">Loại:</span>
								<span class="text-black ml-2">{{this.category}}</span>
							</li>
							<li class="list-group-item">
								<span class="mb-0 title">SKU:</span>
								{{#each this.skus}}
								<span class="text-black ml-2">{{this.sku}}</span>
								<span class="text-black ml-2">||</span>
								{{/each}}
							</li>
							<li class="list-group-item">
								<span class="mb-0 title">Giá:</span>
								<span class="text-black desc-text ml-2">{{this.price}}</span>
							</li>
						</ul>
					</div>
					<div class="card-footer d-flex">
						<a href="javascript:void(0);" class="btn btn-success btn-xs">Chỉnh sửa sản phẩm</a>

						<a type="submit" class="btn btn-primary btn-xs ml-1">Xóa</a>


					</div>
				</div> --}}
			</div>

			<div class="col-12">
				<table class="table">
					<thead class="thead-primary">
						<tr>
							<th scope="col">STT</th>
							<th scope="col">Mã khuyến mãi</th>
							<th scope="col">Tên khuyến mãi</th>
							<th scope="col">Giá khuyến mãi</th>
							<th scope="col">Thời hạn</th>
							<th scope="col">Mô tả khuyến mãi</th>
							<th scope="col"></th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody>
						{{#each promotion}}
						<tr>
							<th>{{@index}}</th>
							<td>{{this.makm}}</td>
							<td>{{this.tenkm}}</td>
							<td>{{this.giakm}}</td>
							<td>{{this.ngayapdung}}</td>
							<td>{{this.motakm}}</td>
							<td>
								<a href="/adminPromotion/{{this._id}}/editPromotion" class="btn btn-primary btn-xs">Chỉnh sửa khuyến mãi</a>
							</td>
							<td>
								<a href="/adminPromotion/deletePromotion/{{this._id}}"
									class="btn btn-danger btn-xs">Xoá
								</a>
							</td>
						</tr>
						{{/each}}
					</tbody>
				</table>
			</div>
			<!-- End Promotion -->
		</div>
	</div>
</div>