<div class="content-body">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-12">
				<div class="card">
					<div class="card-body py-2 d-flex justify-content-between align-items-center">
						<div>
							<h4 class="m-0">Danh sách nhân viên</h4>
							<!-- <span>Lorem ipsum sit amet</span> -->
						</div>
						<a href="/adminStaff/createStaff" class="btn btn-info light">+ Tạo nhân viên mới</a>
					</div>
				</div>
			</div>

			<!-- Staff -->
			<div class="col-xl-4 col-xxl-4 col-md-6 col-sm-6">
				{{!-- <div class="card user-card">
					<div class="card-body pb-0">
						<div class="d-flex mb-3 align-items-center">
							<div class="dz-media">
								<img src="{{this.skus.0.img}}" alt="image_product">
							</div>
						</div>
						<h5 class="title"><a href="">{{this.name}}</a></h5>
						<ul class="list-group list-group-flush">
							<li class="list-group-item">
								<span class="mb-0 title">Loại:</span>
								<span class="text-black ml-2">{{this.category}}</span>
							</li>
							<li class="list-group-item">
								<span class="mb-0 title">SKU:</span>
								{{#each this.skus}}
								<span class="text-black ml-2">{{this.sku}}</span>
								<span class="text-black ml-2">||</span>
								{{/each}}
							</li>
							<li class="list-group-item">
								<span class="mb-0 title">Giá:</span>
								<span class="text-black desc-text ml-2">{{this.price}}</span>
							</li>
						</ul>
					</div>
					<div class="card-footer d-flex">
						<a href="javascript:void(0);" class="btn btn-success btn-xs">Chỉnh sửa sản phẩm</a>

						<a type="submit" class="btn btn-primary btn-xs ml-1">Xóa</a>


					</div>
				</div> --}}
			</div>

			<div class="col-12">
				<table class="table">
					<thead class="thead-primary">
						<tr>
							<th scope="col">STT</th>
							<th scope="col">Email</th>
							<th scope="col">Tên nhân viên</th>
							<th scope="col">Số điện thoại</th>
							<th scope="col">Vai trò</th>
							<th scope="col"></th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody>
						{{#each userStaff}}
						<tr>
							<th>{{@index}}</th>
							<td>{{this.email}}</td>
							<td>{{this.name}}</td>
							<td>{{this.phonenumber}}</td>
							<td>{{this.role}}</td>
							<td>
								<a href="/adminStaff/{{this._id}}/editStaff" class="btn btn-primary btn-xs">Chỉnh sửa</a>
							</td>
							<td>
								<a href="/adminStaff/deleteStaff/{{this._id}}"
									class="btn btn-danger btn-xs">Xoá
								</a>
							</td>
						</tr>
						{{/each}}
					</tbody>
				</table>
				<hr>
				<table class="table">
					<thead class="thead-primary">
						<tr>
							<th scope="col">STT</th>
							<th scope="col">Email</th>
							<th scope="col">Tên nhân viên</th>
							<th scope="col">Số điện thoại</th>
							<th scope="col">Vai trò</th>
							<th scope="col"></th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody>
						{{#each userDeliStaff}}
						<tr>
							<th>{{@index}}</th>
							<td>{{this.email}}</td>
							<td>{{this.name}}</td>
							<td>{{this.phonenumber}}</td>
							<td>{{this.role}}</td>
							<td>
								<a href="/adminStaff/{{this._id}}/editStaff" class="btn btn-primary btn-xs">Chỉnh sửa</a>
							</td>
							<td>
								<a href="/adminStaff/deleteStaff/{{this._id}}"
									class="btn btn-danger btn-xs">Xoá
								</a>
							</td>
						</tr>
						{{/each}}
					</tbody>
				</table>
			</div>
			<!-- End Staff -->
		</div>
	</div>
</div>