<div class="content-body">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">Chỉnh sửa nhân viên <strong>{{userStaff.name}}</strong></h4>
					</div>
					{{#if message}}
					<div style="text-align: center" class="alert alert-{{message.type}}">
						<strong>{{message.intro}}</strong> {{message.message}}
					</div>
					{{/if}}
					<form method="POST" action="/adminStaff/{{userStaff._id}}?_method=PUT">
						<div class="card-body">
							<div class="form-validation">
								<div class="row">
									<div class="col-xl-12">
										<div class="form-group row">
											<label class="col-lg-2 col-form-label" for="val-username">Nhân viên
												<span class="text-danger">*</span>
											</label>
											<div class="col-lg-4">
												<input type="text" class="form-control" id="" name="name" value="{{userStaff.name}}">
											</div>

											<label class="col-lg-2 col-form-label" for="val-password">Số điện thoại
												<span class="text-danger">*</span>
											</label>
											<div class="col-lg-4">
												<input type="text" class="as_colorpicker form-control"
													 name="phonenumber" value="{{userStaff.phonenumber}}">
											</div>
										</div>
										<div class="form-group row">
											<label class="col-lg-2 col-form-label" for="val-email">Email<span
													class="text-danger">*</span>
											</label>
											<div class="col-lg-4">
												<input type="text" class="form-control" id="" name="email"
													value="{{userStaff.email}}">
											</div>

											<label class="col-lg-2 col-form-label" for="val-password">Mật khẩu
												<span class="text-danger">*</span>
											</label>
											<div class="col-lg-4">
												<input type="text" class="as_colorpicker form-control"
													name="password" value="{{userStaff.password}}">
											</div>
										</div>
										<div class="form-group row">
											<label class="col-lg-2 col-form-label" for="val-confirm-password">Địa chỉ
												<span class="text-danger">*</span>
											</label>
											<div class="col-lg-4">
												<input type="text" class="form-control" id="val-confirm-password"
													name="address" value="{{userStaff.address}}">
											</div>

											<label class="col-lg-2 col-form-label" for="val-confirm-password">Vai trò
												<span class="text-danger">*</span>
											</label>
											<div class="col-lg-4">
												<select class="form-control" name="role">
													<option value="staff">Nhân viên bán hàng</option>
													<option value="deliveryStaff">Nhân viên giao hàng</option>"													
												</select>
											</div>
										</div>
										<div class="form-group row justify-content-end">
											<div class="col-2 text-right">
												<button type="submit" class="btn btn-primary">Chỉnh sửa</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
{{!-- <div class="modal fade" id="saveProduct" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Thông báo</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				Bạn có muốn tạo thêm sản phẩm không ?
			</div>
			<div class="modal-footer">
				<a href="/adminList" class="btn btn-secondary">Lưu</a>
				<button type="submit" id="saveProductBtn" class="btn btn-primary" data-dismiss="modal">Tiếp tục</button>
			</div>
		</div>
	</div>
</div> --}}

{{!-- SỬA LỖI CHỖ NÀY --}}

<!--form create product -->
{{!-- <form method="POST" name="saveModal"></form>

<!--Script callback function to delete-->
<script>
	/*document.addEventListener("DOMContentLoaded", function () {
		var id;
		var saveProduct = document.forms['saveModal'];
		var btnSaveProduct = document.getElementById('saveProductBtn');

		//when dialog confirm click
		$('#saveProduct').on('show.bs.modal', function (event) {
			var button = $(event.relatedTarget) // Button that triggered the modal
			id = button.data('id')          // Extract info from data-* attributes
		});

		btnSaveProduct.onclick = function () {
			saveProduct.action = `/adminCreateList/:id/productForm`;
			saveProduct.submit();
		}
	});
</script> --}}