<!-- Open Content -->
<section class="bg-light">
    <div class="container pb-5">
        <div class="row product-container">
            <div class="col-lg-5 mt-5">
                <div class="card mb-3">
                    <img class="card-img img-fluid product-img" src="{{sku.img}}" alt="thumbnail" id="product-detail">
                    {{!-- {{/each}} --}}
                </div>
            </div>

            <!-- col end -->
            <div class="col-lg-7 mt-5">
                <div class="card">
                    <div class="card-body">

                        <h3 class="product-name">{{product.name}}</h3>
                        <!-- <p>Lắc tay bạc unisex</p> -->

                        <div class="card-body-price">
                            <h4 class="product-price">{{product.price}}</h4>
                            <p class="price-unit">vnd</p>
                        </div>

                        <ul class="list-inline">
                        </ul>

                        {{!-- Input value for cart --}}
                        <input hidden value="{{sku.color.title}}" class="product-color" type="text">
                        <input hidden value="{{size.size}}" class="product-size" type="text">
                        <input hidden value="{{sku.sku}}" class="product-sku" type="text">

                        <form action="" method="GET">
                            <input type="hidden" name="product-title" value="Activewear">
                            <div class="row">
                                <div class="col-12">
                                    <ul class="list-inline pb-3 d-flex align-items-center">
                                        <li class="list-inline-item">Màu sắc :</li>
                                        {{#each product.skus}}
                                        <li class="list-inline-item m-0">
                                            <a href="/product/detail/{{../product._id}}/{{this.sku}}/{{../size.size}}">
                                                <span class="product-detail-dot" data-sku="{{this.sku}}"
                                                    style="background-color: {{this.color.color_code}};"></span>
                                            </a>
                                        </li>
                                        {{/each}}
                                    </ul>
                                </div>

                                <div class="col-12">
                                    <ul class="list-inline pb-3">
                                        <li class="list-inline-item">Kích cỡ :</li>
                                        {{#each sku.sizes}}
                                        <li class="list-inline-item m-0">
                                            <a class="" class="text"
                                                href="/product/detail/{{../product._id}}/{{../sku.sku}}/{{this.size}}">
                                                <span class="sku-sizes-picker"
                                                    data-size="{{this.size}}">{{this.size}}</span>
                                            </a>
                                        </li>
                                        {{/each}}
                                        {{#if isOutOfStock}}
                                        <li class="list-inline-item m-0">
                                            <div class="status">
                                                <span class="qty-status">Tạm hết hàng</span>
                                            </div>
                                        </li>
                                        {{/if}}
                                    </ul>
                                </div>

                                <div class="col-12">
                                    <ul class="list-inline pb-3">
                                        <li class="list-inline-item text-right">
                                            Quantity
                                        </li>
                                        {{#if isOutOfStock}}
                                        <li class="list-inline-item">
                                            <div class="quantity-selection">
                                                <form>
                                                    <input class="skuQty product-qty" type="number" name="name"
                                                        id="number" min="0" max="0" value="0">
                                                </form>
                                            </div>
                                        </li>
                                        {{else}}
                                        <li class="list-inline-item">
                                            <div class="quantity-selection">
                                                <form>
                                                    <input class="skuQty product-qty" type="number" name="name"
                                                        id="number" value="1" min="1" max="{{size.qty}}"
                                                        data-maxqty="{{size.qty}}">
                                                </form>
                                            </div>
                                        </li>
                                        {{/if}}
                                    </ul>

                                    {{#if isOutOfStock}}
                                    <div class="col d-grid">
                                        <button disabled class="btn btn-success add-cart-btn cart-btn-disable" value="addtocard">Thêm vào giỏ hàng
                                        </button>
                                    </div>
                                    {{else}}
                                    <div class="col d-grid">
                                        <div class="btn btn-success add-cart-btn" value="addtocard">Thêm vào giỏ hàng
                                        </div>
                                    </div>
                                    {{/if}}
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- Close Content -->
<script>
    const pathName = window.location.pathname;
    const colorDots = document.querySelectorAll('.product-detail-dot');
    const sizeDots = document.querySelectorAll('.sku-sizes-picker');
    for (var i = 0; i < colorDots.length; i++) {
        var sku = colorDots[i].getAttribute('data-sku')
        if (pathName.includes(sku, 40)) {
            colorDots[i].classList.add('active')
        }
        else {
            colorDots[i].classList.remove('active')
        }
    }

    for (var i = 0; i < sizeDots.length; i++) {
        var size = sizeDots[i].getAttribute('data-size');
        if (pathName.indexOf(size, 40) != -1) {
            sizeDots[i].classList.add('active')
            console.log(sizeDots[i] + 'true')
        }
        else {
            sizeDots[i].classList.remove('active')
            console.log(sizeDots[i] + 'false')
        }
    }

</script>