<!-- Modal -->
<div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="w-100 pt-1 mb-5 text-right">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="" method="get" class="modal-content modal-body border-0 p-0">
            <div class="input-group mb-2">
                <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                <button type="submit" class="input-group-text bg-success text-light">
                    <i class="fa fa-fw fa-search text-white"></i>
                </button>
            </div>
        </form>
    </div>
</div>

{{!-- Sidebar --}}
<div class="container py-5">
    <div class="row">
        <div class="col-3">
            <ul class="customer-function-list mt-5">
                <li class="">
                    <a class="function-link active" href="/customer/{{userInfo._id}}/customerInfo">
                        <span class="function-icon"><i class="fas fa-info-circle"></i></span>
                        <span>Thông tin cá nhân</span> </a>
                    {{!-- <a class="" href="/customer/{{userInfo._id}}/customerInfo">Thông tin tài khoản</a> --}}
                </li>
                <li class="">
                    <a class="function-link" href="/customer/{{userInfo._id}}/customerTransaction">
                        <span class="function-icon"><i class="fas fa-file-invoice"></i></span>
                        <span>Đơn hàng của tôi</span></a>
                    {{!-- <a class="" href="/customer/{{userInfo._id}}/customerInfo">Thông tin tài khoản</a> --}}
                </li>

                <li class="">
                    <a class="function-link" href="/customer">
                        <span class="function-icon"><i class="fas fa-crown"></i></span>
                        <span>Hạng thành viên</span></a>
                    {{!-- <a class="" href="/customer/{{userInfo._id}}/customerInfo">Thông tin tài khoản</a> --}}
                </li>

                <li class="">
                    <a class="function-link" href="/customer/{{userInfo._id}}/customerPass">
                        <span class="function-icon"><i class="fas fa-lock"></i></span>
                        <span>Đổi mật khẩu</span></a>
                    {{!-- <a class="" href="/customer/{{userInfo._id}}/customerInfo">Thông tin tài khoản</a> --}}
                </li>
            </ul>
        </div>

        <div class="col-lg-9">
            <div class="row">
                <h5 class="sub-title">Thông tin đơn hàng</h5>
                <input hidden id="order-status" type="text" value="{{orderCus.orderStatus}}">
                {{#ifNotCond orderCus.orderStatus 'danger'}}
                <div class="track col-12 col-lg-6">
                    <div class="step confirm-step">
                        <span class="icon"><i class="order-icon fa fa-check"></i></span>
                        <span class="text">Chờ xác nhận</span>
                    </div>
                    <div class="step prepare-step">
                        <span class="icon"><i class="order-icon fa fa-user"></i></span>
                        <span class="text">Chờ lấy hàng</span>
                    </div>
                    <div class="step shipping-step">
                        <span class="icon"><i class="order-icon fa fa-truck"></i></span>
                        <span class="text">Đang giao</span>
                    </div>
                    <div class="step done-step">
                        <span class="icon"><i class="order-icon fa fa-check"></i></span>
                        <span class="text">Đã giao</span>
                    </div>
                </div>
                {{/ifNotCond}}

                <form>
                    <label for="tel">Mã đơn hàng</label><br>
                    <input type="text" class="form-control" value="{{orderCus._id}}" readonly><br>
                    <label for="tel">Ngày đặt hàng</label><br>
                    <input type="email" class="form-control" value="{{orderCus.orderDate}}" readonly><br>
                    <label for="name">Phương thức thanh toán</label><br>
                    <input type="text" class="form-control" value="{{orderCus.orderType}}" readonly><br>
                    <label for="name">Tổng tiền</label><br>
                    <input type="text" class="form-control" value="{{orderCus.orderTotal}}" readonly><br>
                    <h5 class="sub-title">Sản phẩm</h5>
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Sản phẩm</th>
                                <th scope="col">Số lượng</th>
                                <th scope="col">Phân loại</th>
                                <th scope="col">Thành tiền</th>
                            </tr>
                        </thead>
                        {{#each products}}
                        <tbody>
                            <tr>
                                <td>{{inc @index}}</td>
                                <td>{{this.p_name}} ({{this.sku}})</td>
                                <td id="quantity">{{this.qty}}</td>
                                <td>{{this.color}}, {{this.size}}</td>
                                <td>{{this.price}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-12 text-right">
                            <a href="/customer/{{userInfo._id}}/customerTransaction">Quay lại</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
  var orderStatus = document.querySelector('#order-status');
  var status = orderStatus.value;
  var confirmStep = document.querySelector('.confirm-step');
  var prepareStep = document.querySelector('.prepare-step');
  var shippingStep = document.querySelector('.shipping-step');
  var doneStep = document.querySelector('.done-step');
  if(status === 'info')
    confirmStep.classList.add('active');
  else if(status === 'success') {
    confirmStep.classList.add('active');
    prepareStep.classList.add('active');
  }
  else if(status === 'prepare' || status === 'shipping') {
    confirmStep.classList.add('active');
    prepareStep.classList.add('active');
    shippingStep.classList.add('active');
  }
  else if(status === 'done') {
    confirmStep.classList.add('active');
    prepareStep.classList.add('active');
    shippingStep.classList.add('active');
    doneStep.classList.add('active');
  }
</script>