<!-- Start Content -->
<div class="container py-5">
    <div class="row">
        <div class="col-3">
            <ul class="customer-function-list mt-5">
                <li>
                    <a class="function-link" href="/customer/{{userInfo._id}}/customerInfo">
                        <span class="function-icon"><i class="fas fa-info-circle"></i></span>
                        <span>Thông tin cá nhân</span> </a>
                    {{!-- <a class="" href="/customer/{{userInfo._id}}/customerInfo">Thông tin tài khoản</a> --}}
                </li>
                <li>
                    <a class="function-link" href="/customer/{{userInfo._id}}/customerTransaction">
                        <span class="function-icon"><i class="fas fa-file-invoice"></i></span>
                        <span>Đơn hàng của tôi</span></a>
                    {{!-- <a class="" href="/customer/{{userInfo._id}}/customerInfo">Thông tin tài khoản</a> --}}
                </li>

                <li>
                    <a class="function-link active" href="/customer">
                        <span class="function-icon"><i class="fas fa-crown"></i></span>
                        <span>Hạng thành viên</span></a>
                    {{!-- <a class="" href="/customer/{{userInfo._id}}/customerInfo">Thông tin tài khoản</a> --}}
                </li>

                <li>
                    <a class="function-link" href="/customer/{{userInfo._id}}/customerPass">
                        <span class="function-icon"><i class="fas fa-lock"></i></span>
                        <span>Đổi mật khẩu</span></a>
                    {{!-- <a class="" href="/customer/{{userInfo._id}}/customerInfo">Thông tin tài khoản</a> --}}
                </li>

            </ul>
        </div>

        <div class="col-9">
            <div class="row">
                <h5 class="sub-title">HẠNG THÀNH VIÊN</h5>
            </div>
            <div class="row">
                <div class="reward-table">
                    <div class="reward-content">
                        <div class="reward-alert">
                            <span class="reward-title">TÍCH LŨY CHI TIÊU HIỆN TẠI</span>
                            {{#ifCond user.rank 'new'}}
                                <p class="reward-text">Thành viên mới</p>
                            {{/ifCond}}

                            {{#ifCond user.rank 'bronze'}}
                                <p class="reward-text">Thành viên đồng</p>
                            {{/ifCond}}

                            {{#ifCond user.rank 'silver'}}
                                <p class="reward-text">Thành viên bạc</p>
                            {{/ifCond}}

                            {{#ifCond user.rank 'gold'}}
                                <p class="reward-text">Thành viên vàng</p>
                            {{/ifCond}}
                        </div>

                        <div class="reward-point">                  
                            <p class="reward-text">{{orderTotal}}đ</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="reward-table">
                    <div class="reward-alert">
                        <span class="reward-title">ƯU ĐÃI THÀNH VIÊN</span>
                        {{!-- <p class="reward-text">Chưa có ưu đãi</p> --}}
                        <div class="row promo-list">
                            <div class="col-6">
                                <div class="promo-item">
                                    <div class="promo-code-container">
                                        <span class="promo-code">#FREESHIP30</span>
                                    </div>
                                    <div class="promo-content">
                                        <span class="promo-name">Miễn phí vận chuyển</span>
                                        <span class="promo-desc">Giảm 30k phí vận chuyển cho hoá đơn trên
                                            200,000đ</span>
                                        <div class="promo-date">
                                            <span class="promo-tag">NBD: 22/03/2022</span>
                                            <span class="promo-tag">HSD: 24/03/2022</span>
                                        </div>
                                        <div class="promo-copy-btn-container">
                                            <span class="btn btn-success promo-copy-btn">Lấy mã</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="promo-item">
                                    <div class="promo-code-container">
                                        <span class="promo-code">#KHACHANGTT30</span>
                                    </div>
                                    <div class="promo-content">
                                        <span class="promo-name">Tri ân khách hàng thân thiết</span>
                                        <span class="promo-desc">Giảm 30k cho khách hàng thân thiết</span>

                                        <div class="promo-date">
                                            <span class="promo-tag">NBD: 22/04/2022</span>
                                            <span class="promo-tag">HSD: 30/04/2022</span>
                                        </div>

                                        <div class="promo-copy-btn-container">
                                            <span class="btn btn-success promo-copy-btn">Lấy mã</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Content -->