<!-- Modal -->
<div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="w-100 pt-1 mb-5 text-right">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="" method="get" class="modal-content modal-body border-0 p-0">
            <div class="input-group mb-2">
                <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                <button type="submit" class="input-group-text bg-success text-light">
                    <i class="fa fa-fw fa-search text-white"></i>
                </button>
            </div>
        </form>
    </div>
</div>

{{!-- Sidebar --}}
<div class="container py-5">
    <div class="row">
        <div class="col-lg-3">
            <ul class="list-unstyled templatemo-accordion">

                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h4 text-decoration-none" href="/customer">
                        Hạng thành viên
                    </a>
                </li>

                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h4 text-decoration-none" style="color: #59ab6e;"
                        href="#">
                        Xem lịch sử đơn hàng
                    </a>
                </li>


                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h4 text-decoration-none"
                        href="/customer/{{userInfo._id}}/customerInfo">
                        Chỉnh sửa thông tin cá nhân
                    </a>
                </li>


                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h4 text-decoration-none" href="#">
                        Thay đổi mật khẩu
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-lg-9">
            <div class="row">
                <div class="col-lg-1 ">

                </div>
                <div class="col-lg-11">
                    <div class="delivery-info_header">
                        <h2>THÔNG TIN TÀI KHOẢN</h2>
                    </div>

                    <form action="/customer/{{userInfo._id}}?_method=PUT" method="POST">
                        <label for="tel">Hình đại diện</label><br>
                        <input type="file" name="avatar" class="form-control" value="{{userInfo.avatar}}"><br>
                        <label for="tel">Email</label><br>
                        <input type="email" name="email" class="form-control" value="{{userInfo.email}}"><br>
                        <label for="name">Họ tên:</label><br>
                        <input type="text" id="name" name="name" class="form-control" value="{{userInfo.name}}"><br>
                        <label for="address">Địa chỉ:</label><br>
                        <input type="text" id="address" name="address" class="form-control"
                            value="{{userInfo.address}}"><br>
                        <div class="row">
                            <div class="col-12 text-right">
                                <button type="submit" class="btn btn-success">Lưu thay đổi</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>

        </div>

    </div>
</div>