<div class="content-body">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-12">
				<div class="card">
					<div class="card-body py-2 d-flex justify-content-between align-items-center">
						<div>
							<h4 class="m-0">Danh sách sản phẩm</h4>
							<!-- <span>Lorem ipsum sit amet</span> -->
						</div>
						<a href="/adminProduct/createProduct" class="btn btn-info light">+ Thêm sản phẩm mới</a>
					</div>
				</div>
			</div>

			<!-- Product -->
			{{#each products}}
			<div class="col-xl-4 col-xxl-4 col-md-6 col-sm-6">
				<div class="card user-card">
					<div class="card-body pb-0">
						<div class="d-flex mb-3 align-items-center">
							<div class="dz-media">
								<img src="{{this.skus.0.img}}" alt="image_product">
							</div>
						</div>
						<h5 class="title"><a href="/adminProduct/{{this._id}}/editProduct">{{this.name}}</a></h5>
						<ul class="list-group list-group-flush">
							<li class="list-group-item">
								<span class="mb-0 title">Loại:</span>
								<span class="text-black ml-2">{{this.category}}</span>
							</li>
							<li class="list-group-item">
								<span class="mb-0 title">SKU:</span>
								{{#each this.skus}}
								<span class="text-black ml-2">{{this.sku}}</span>
								<span class="text-black ml-2">||</span>
								{{/each}}
							</li>
							<li class="list-group-item">
								<span class="mb-0 title">Giá:</span>
								<span class="text-black desc-text ml-2">{{this.price}}</span>
							</li>
						</ul>
					</div>
					<div class="card-footer d-flex">
						<a href="/adminProduct/{{this._id}}/editProduct" class="btn btn-success btn-xs mr-2">Chỉnh sửa sản
							phẩm</a>
						<a href="/adminProduct/deleteProduct/{{this._id}}" class="btn btn-danger btn-xs">Xoá</a>
						
						{{!-- <a href="">
							<button type="submit" class="btn btn-danger btn-xs" data-toggle="modal"
								data-id="{{this._id}}" data-target="#basicModal"
								data-bs-target="#delete-product-modal">Xoá sản phẩm
							</button>
						</a> --}}
					</div>
				</div>
			</div>
			{{/each}}
			<!-- End Product -->
		</div>
	</div>
</div>

<!--confirm-->
{{!-- <div id="delete-product-modal" class="modal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Xoá khách hàng</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p>Bạn có chắc chắn muốn xoá khách hàng này !!! </p>
			</div>
			<div class="modal-footer">
				<button id="btn-delete-product" type="button" class="btn btn-danger">Xoá bỏ</button>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ</button>
			</div>
		</div>
	</div>
</div> --}}

<!--form delete course -->
{{!-- <form method="POST" name="delete-product-form"></form> --}}

<!--Script callback function to delete-->
<script>
	/*document.addEventListener("DOMContentLoaded", function () {
		var productId;
		var deleteForm = document.forms['delete-product-form'];
		var btnDeleteProduct = document.getElementById('btn-delete-product');

		//when dialog confirm click
		$('#delete-cusomter-modal').on('show.bs.modal', function (event) {

			var button = $(event.relatedTarget) // Button that triggered the modal
			productId = button.data('id')          // Extract info from data-* attributes
		});

		btnDeleteProduct.onclick = function () {
			deleteForm.action = `/bookingRoom/${productId}}?_method=DELETE`;
			deleteForm.submit();
		}
	});
	
</script>