<!-- Opent content -->
<div class="container py-5">
   <div class="row">
      <div class="col-sm-12 col-lg-7 order-lg-1 order-2">
         <h2 class="payment-title mt-lg-0 mt-sm-3">Kiểm tra thông tin đặt hàng</h2>

         {{#if message}}
         <div style="text-align: center" class="alert alert-{{message.type}}">
            <strong>{{message.intro}}</strong> {{message.message}}
         </div>
         {{/if}}

         <form class="mt-4 mb-4" method="post" action="/payment/{{payment._id}}/order/payOrder">
            <div>
               <input type="text" class="form-control mb-3" id="" name="name" value="{{payment.name}}" readonly>
            </div>

            <div class="">
               <input type="text" class="form-control mb-3" id="" name="phonenumber" value="{{payment.phonenumber}}"
                  readonly required>
            </div>

            <div class="">
               <input type="text" class="form-control mb-3" id="" name="address" value="{{payment.address}}" readonly
                  required>
            </div>

            <div class="">
               <label for="exampleFormControlTextarea1">Ghi chú</label>
               <input class="form-control mb-3" name="note" value="{{payment.note}}" rows="3">
            </div>

            <h2 class="payment-title mt-lg-0 mt-sm-3">Phương thức vận chuyển</h2>
            {{#ifCond paymentType payCOD}}
            <div class="">
               <label class="attr-check-btn sildeDown-item text-decoration-none">
                  <span class="attr-text">Thanh toán khi nhận hàng</span>
                  <input name="paymentType" class="check-btn radio" value="payCOD" type="radio" checked>
                  <span class="checkmark"></span>
               </label>
            </div>
            {{else}}
            <div class="">
               <label class="attr-check-btn sildeDown-item text-decoration-none">
                  <span class="attr-text">Thanh toán qua Momo</span>
                  <input name="paymentType" class="check-btn radio" value="payOnline" type="radio" >
                  <span class="checkmark"></span>
               </label>
            </div>
            {{/ifCond}}
            <div class="bill-payment mt-3">
               <a class="bill-backtoshop" href="/product">
                  <i class="fas fa-angle-left"></i>
                  Tiếp tục mua sắm
               </a>

               <button type="submit" class="btn btn-success btn-sm">Xác nhận đặt hàng</button>
            </div>
         </form>

         {{!--
         <h2 class="payment-title mt-lg-0 mt-sm-3">Phương thức thanh toán</h2>
         <form class="mt-4 mb-4">
            <div class="">
               <label class="attr-check-btn sildeDown-item text-decoration-none">
                  <span class="attr-text">Thanh toán khi nhận hàng</span>
                  <input checked name="fooby[1][]" class="check-btn radio" value="payOffline" type="radio">
                  <span class="checkmark"></span>
               </label>
            </div>

            <div class="">
               <label class="attr-check-btn sildeDown-item text-decoration-none">
                  <span class="attr-text">Thanh toán qua MoMo</span>
                  <input name="fooby[1][]" class="check-btn radio" value="payOnline" type="radio">
                  <span class="checkmark"></span>
               </label>
            </div>

            <div class="bill-payment mt-3">
               <a class="bill-backtoshop" href="/product">
                  <i class="fas fa-angle-left"></i>
                  Tiếp tục mua sắm
               </a>

               <button type="submit" class="btn btn-success btn-sm">Đặt hàng</button>
            </div>
         </form> --}}
      </div>

      <!-- Bill Details -->
      <div class="col-sm-12 col-lg-5 order-lg-2 order-1">
         <table class="cart-view" id="cart-view"></table>
         {{!-- <span class="line"></span>
         <table class="table-total">
            <tbody>
               <tr>
                  <td class="text-left col-8">
                     <input class="promotion-input" type="text" name="promotion" placeholder="Mã giảm giá">
                  </td>
                  <td class="text-right col-4">
                     <button class="btn btn-success">Áp dụng</button>
                  </td>
               </tr>
            </tbody>
         </table> --}}

         <span class="line"></span>

         <!-- Start Total Table -->
         <table class="table-total">
            <tbody>
               <tr>
                  <td class="text-left">TẠM TÍNH:</td>
                  <td class="cart-total-price text-right" id="cart-total-price"></td>
               </tr>
               <tr>
                  <td class="text-left">PHÍ VẬN CHUYỂN:</td>
                  <td class="text-right">FREESHIP</td>
               </tr>
               <tr>
                  <td class="text-left">TỔNG TIỀN:</td>
                  <td class="text-right">200,000đ</td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
</div>

<script>
   var cartView = document.getElementsByClassName('cart-view')[0]
   let cartData = ``;

   if (JSON.parse(localStorage.getItem('items')) === null || JSON.parse(localStorage.getItem('items')) == '') {
      cartData += `<tr class="cart-item cart-item-empty"><td>Chưa có sản phẩm trong giỏ hàng</td></tr>`
      document.querySelector('.cart-total-price').innerHTML = '2' + 'đ';
   }
   else {
      (JSON.parse(localStorage.getItem('items')).map(data => {
         var productTotal = parseFloat(data.qty) * parseFloat(data.price)
         productTotalFormat = Intl.NumberFormat().format(productTotal);
         Total();

         cartData += `
		<tr class="cart-item" id="cart-item">
		<td class="item-img col-4">
		
		<img class="cart-item-image" src="` + data.img + `" alt="Card image cap" id="product-detail">
	</td>
	<td class="col-8">
		<a href="" class="item-title">` + data.name + `</a>
		<input hidden value="` + data.size + `" class="cart-size" type="text">
		<span class="item-properties">` + data.color + `, ` + data.size + `</span>
		<div class="item-amount justify-content-center">
			<input hidden value="` + data.sku + `" class="cart-sku" type="text">
			<span class="cart-quantity-input">` + data.qty + `</span>

			<span class="cart-price">` + productTotalFormat + `</span>
		</div>
	</td>
	</tr>`

      }));
   }

   // Total
   function Total() {
      var total = 0;
      (JSON.parse(localStorage.getItem('items')).map(data => {
         var productTotal = parseFloat(data.qty) * parseFloat(data.price)
         total += productTotal;
         document.getElementsByClassName('cart-total-price')[0].innerHTML = Intl.NumberFormat().format(total) + 'đ';
      }))
   }

   cartView.innerHTML = cartData;
</script>

<!-- End content -->